.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
/* Contenedor de las tarjetas */
#lista-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}

#lista-productos .card {
  width: 30%;
}

/* Tarjeta individual */
.card {
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
/*Zoom al apoyar cursor en tarjeta */
.card:hover {
  transform: scale(1.1);
}

/* Imagen del producto */
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

/* Contenido de texto */
.card-info {
  padding: 15px;
  text-align: left;
}


.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.card-description {
  font-size: 12px;
  color: #555;
  margin-bottom: 10px;
  height: 50px;
  overflow: hidden;
}

.card-price {
  font-size: 16px;
  color: #28a745;
  font-weight: bold;
  margin-top: auto;
  text-align: left;
}

.card-sold {
  font-size: 12px;
  color: #888;}

/*Tablet vertical*/  

  @media (min-width:481px) and (max-width: 1024px){
#lista-productos {
  justify-content: center;

}
#lista-productos .card {
   width: 48%;
}
  }



  /*Smartphone Pequeño (Ej. iPhone SE): 320 x 568 px*/
  @media (max-width: 480px) 
   {
    #lista-productos {
      justify-content: center;
    }
    #lista-productos .card {
      width: 100%;
    }
  
}
  

  /* Pantalla Estándar*/
  @media (min-width:1025px) {
#lista-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
justify-content: flex-start;
  padding: 20px;
}

#lista-productos .card {
  width: 30%;
}

}

/*estilo para el product-info.html*/
/*contenedor principal*/
.detalles-producto {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

/*título*/
.detalles-producto h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

/*párrafo*/
.detalles-producto p {
  margin: 10px 0;
  font-size: 16px;
}

/*contenedor de imágenes*/
.imagen-producto {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

/*imágenes*/
.imagen-producto img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

/*pauta 2 de entrega 4*/
.fecha {
  color:#888;
}

.card-price-info{
  font-size: 20px;
  color: #28a745;
  font-weight: bold;
  margin-top: auto;
  text-align: left;
}

.card-title-info{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

/*css para las tarjetas de categories.html*/
.list-group-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px; /*margen entre tarjetas*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background-color: #fff;
}

.list-group-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.list-group-item img {
  border-radius: 8px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.list-group-item h4,
.list-group-item p,
.list-group-item small {
  margin-bottom: 5px;
}

#cat-list-container {
  margin-top: 20px;
}

/*código css para el botón de modo oscuro de products.html*/
.modo-oscuro {
  background-color: #212529 !important;
  color: #e0e0e0 !important;
}

/*para el buscador */
.modo-oscuro .buscador {
  background-color: #212529 !important;
  color: #e0e0e0 !important;
}

/*para las tarjetas*/
.modo-oscuro .card {
  background-color: #1f1f1f !important;
  border-color: #333 !important;
  color: #e0e0e0 !important;
}

/*los títulos, descripción y cant de vendidos*/
.modo-oscuro .card-title,
.modo-oscuro .card-description,
.modo-oscuro .card-sold {
  color: #e0e0e0 !important;
}

.modo-oscuro input,
.modo-oscuro select {
  background-color: #333 !important;
  color: #e0e0e0 !important;
  border-color: #555 !important;
}

/*texto dentro de los input*/
.modo-oscuro input::placeholder {
  color: #c0c0c0;
}

 /*para los botones en el hover*/
.modo-oscuro .btn-outline-light:hover {
  color: #121212;
}

/*le saco el borde al botón de modo oscuro*/
#modoBtn {
  border: none;
}

/*para el botón de modo oscuro de categories.html*/
/*estilo para las tarjetas con las categorías*/
.modo-oscuro .list-group-item {
  background-color: #333 !important;
  color: #e0e0e0 !important;
  border-color: #555;
}

/*letras claras en el modo oscuro*/
.modo-oscuro .list-group-item h4,
.modo-oscuro .list-group-item p,
.modo-oscuro .list-group-item small {
  color: #e0e0e0 !important;
}

/*para los input de filtrado*/
.modo-oscuro #rangeFilterCountMin,
.modo-oscuro #rangeFilterCountMax {
  background-color: #333 !important;
  color: #e0e0e0 !important;
  border-color: #555 !important;
}

/*modo oscuro para el product-info.html*/
/*poner la parte de comentar en modo oscuro y placeholder claro*/
.modo-oscuro textarea {
  background-color: #333 !important;
  color: #e0e0e0 !important;
  border-color: #555 !important;
}

.modo-oscuro textarea::placeholder {
  color: #c0c0c0;
}

/*título claro cuando está en modo oscuro*/
.modo-oscuro .card-title-info {
  color: #e0e0e0 !important;
}

/*estilo para el modo oscuro de sell.html*/
/*para la parte de poner imágenes*/
.modo-oscuro #file-upload {
  background-color: #333 !important;
  border: 2px dashed #777 !important;
  color: #e0e0e0 !important;
}

/*estilo para el modo oscuro del index.html*/
/* --- Fondo del modo oscuro --- */
body.modo-oscuro .jumbotron {
  background-image: url('../img/cover_back_oscuro.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white !important; 
}

/* Fondo del card-body en modo oscuro */
.modo-oscuro .album {
  background-color: #212529 !important; /* mismo color que la tarjeta */
  color: #e0e0e0 !important; /* textos claros */
}

.modo-oscuro .btn.btn-light {
  background-color: #212529 !important;
  color: #e0e0e0;
}

/*modo oscuro para el perfil*/
.modo-oscuro #profile-form {
    background: #1f1f1f;   /* fondo oscuro */
    color: #e0e0e0;        /* texto claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* sombra más visible */
}

.modo-oscuro footer {
    background-color: #212529; /* mismo color oscuro que otras secciones */
    color: #e0e0e0;
    border-top: 1px solid #333;
}
#buy {
  color: white;
  width: 200px;
  border-radius: 4px;
  border: rgb(37, 129, 248);
  background-color: rgb(37, 129, 248);
  text-align: center;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor:pointer; 
}

#cart {
  color: rgb(31, 29, 29);
  width: 200px;
  background-color: rgb(185, 184, 184);
  border-radius: 4px;
  border: rgb(83, 82, 82);
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  
}

#cart:active {
  box-shadow: #888;
  transform: translateY(1px);
}
#buy:active {
  box-shadow: #0087F7;
  transform: translateY(1px);
}
#cart:hover {
  background-color: rgb(143, 142, 142);
}
#buy:hover {
background-color: rgb(28, 101, 196);
}

/* Desactivar hover global solo dentro del carrito */
#contenidoCarrito .card:hover {
  transform: none !important;
  font-weight: normal !important;
  box-shadow: none !important; /* por si también cambian la sombra */
}

.page-link.bg-secondary {
  box-shadow: none !important; /* Quita la sombra azul */
}

.page-link.bg-secondary:focus {
  box-shadow: none !important; /* Quita la sombra al hacer click o tab */
  outline: none; /* Quita el borde de foco */
}

/*código para cambiar el color a la cantidad de productos del carrito*/
#carritoCantidad {
  color:#888;
}

#resumenCompra .card:hover {
  transform: none !important;
  font-weight: normal !important;
  box-shadow: none !important; /* por si también cambian la sombra */
}

.formaPago {
  border: 2px solid #dcdcdc;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.2s ease;
  margin-top: 10px;
}

.formaPago:hover {
  border-color: #007bff;
}

.formaPago.seleccionada {
  border-color: #007bff;
  background-color: #f3f9ff;
}

/*estilo para los botones de subir y eliminar imagen en el perfil*/
#btnImagen,
#eliminarImagen{
  background: none;
  border: none;
  cursor: pointer;
  color:#888;
}

#btnImagen:hover,
#eliminarImagen:hover{
  color:#555;
}

.modo-oscuro .formaPago.seleccionada{
  background-color: #888;
}

body:not(.modo-oscuro) .btn-group .btn-outline-light {
  color: #000;
  border-color: #000;
}

body:not(.modo-oscuro) .btn-group .btn-outline-light:hover {
  background-color:#a19e9e;
  color:white;
}

/*index resonsive*/
@media (max-width: 576px) /*pantallas chicas*/ {
  #carruselCategorias {
    overflow: hidden;
  }

  #carruselCategorias .carousel-control-prev {
    left: 0;
  }

  #carruselCategorias .carousel-control-next {
    right: 0;
  }
}

@media (max-width: 768px)/*tipo tablet*/ {
  #carruselCategorias .carousel-control-prev {
    left: 0;
  }

  #carruselCategorias .carousel-control-next {
    right: 0;
  }
}